#banner{
  width: 100%;
}

.titulo-principal{
  padding-left: 28px;
}

.texto-centralizado{
  
}
h1{
  text-align: center;
}

p{
  text-align: center ;
 }

#missão {
font-size: 28px;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagem-beneficios{
  width: 50%;
}