#banner{
  width: 100%;
}

.titulo-principal{
  padding-left: 28px;
}

.texto-centralizado{
  
}
h1{
  text-align: center;
}

p{
  text-align: center ;
 }

em strong{
  color: red;
}

#missão {
font-size: 28px;
}

.beneficios{
  padding: 20px;
 background-color: #ffffff;
}


ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item{
font-style:italic;
  }

.imagem-beneficios{
  width: 50%;
  
}